{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Grow as an artist together with other creative souls ">
    <meta name="keywords" content="Fine Art print, artists, art, printing">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{% static '././static/css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '' %"}>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '' %}" />

    <title>ArtSpot</title>
</head>

<body>
    <header>
        <!-- SITE LOGO & TAGLINE -->
<body>
    
</body>
</html>